<<<<<<< HEAD
﻿@model  GLI.GlobalEntity.ArbitrationDTO

=======
﻿
@model  GLI.GlobalEntity.ArbitrationDTO
>>>>>>> e1813bd233c9b4cf9444534e3dc776742aadd975
@{
    ViewData["Title"] = "Arbitration";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<<<<<<< HEAD
@*<link href="~/Content/RichTextEditor/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/RichTextEditor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/RichTextEditor/Site.css" rel="stylesheet" />
    <link href="~/Content/RichTextEditor/summernote.css" rel="stylesheet" />*@
=======
>>>>>>> e1813bd233c9b4cf9444534e3dc776742aadd975

<div class="page-content" style="min-height:1269px">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group">
                <button id="sample_editable_1_new" class="btn blue" onclick="@("window.location.href='" + @Url.Action("GetDepartment", "Admin") + "'");">
                    Get Arbitration
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="tab-content">
        <div class="tab-pane active" id="tab_0">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Arbitration
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
<<<<<<< HEAD
                    @*@using (Html.BeginForm("Arbitration", "Admin", new { @class = "form-horizontal form-label-left" }))*@

                    <div class="col-md-12">
=======
                    @using (Html.BeginForm("Arbitration", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
>>>>>>> e1813bd233c9b4cf9444534e3dc776742aadd975
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Arbitration Title<span style="color:red;">*</span></label>
                                <div class="col-md-4">
<<<<<<< HEAD
                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control input-circle", placeholder = "Enter Title", @autocomplete = "off", @required = "required", @id = "txtTitle" })
=======
                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control input-circle", placeholder = "Enter Title", @autocomplete = "off", @required = "required",@id="txtTitle" })
>>>>>>> e1813bd233c9b4cf9444534e3dc776742aadd975
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Arbitration Description <span style="color:red;">*</span></label>
<<<<<<< HEAD
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.Description, new { rows = "20", placeholder = Html.DisplayNameFor(m => m.Description), @class = "form-control input-lg textarea-editor", @id = "txtDescription" })
                                </div>
                            </div>

=======
                                <div class="col-md-4">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control input-circle", placeholder = "Enter Description", @autocomplete = "off", @required = "required", @rows = "5",@id="txtDescription" })
                                </div>
                            </div>
>>>>>>> e1813bd233c9b4cf9444534e3dc776742aadd975
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
<<<<<<< HEAD
                                    <button type="submit" id="btnSave" class="btn btn-circle blue">Submit</button>
=======
                                    <button type="submit" class="btn btn-circle blue">Submit</button>
>>>>>>> e1813bd233c9b4cf9444534e3dc776742aadd975
                                    <button type="button" class="btn btn-circle green" href="javascript:void(0);" onclick="fncClear();">Clear</button>
                                </div>
                            </div>
                        </div>
<<<<<<< HEAD
                    </div>

=======
                    }
>>>>>>> e1813bd233c9b4cf9444534e3dc776742aadd975
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>
<<<<<<< HEAD
@*<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>*@
<script src="~/Content/Scripts/jquery.min.js"></script>
<script type="text/javascript">

    $('#btnSave').click(function (e) {
        //e.preventDefault();
        //var element = this;
        alert("sdkfhsdf")
        Title = $('#txtTitle').val(),
            Description = $('#txtDescription').val();
        $.ajax({
            url: "/Admin/SaveArbitration",
            type: "POST",
            data: JSON.stringify({ Title, Description }),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.status = "Success") {
                    alert("Data Inserted Successfully");
                    $(element).closest("form").submit(); //<------------ submit form
                } else {
                    alert("Error occurs on the Database level!");
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
    });

</script>




=======
>>>>>>> e1813bd233c9b4cf9444534e3dc776742aadd975


