@model List<GLI.GlobalEntity.MemberShip>
@{
    ViewData["Title"] = "GetMemberShip";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="page-content">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>MemberShip : <span class="alert-heading" style="color:aqua">@Session["UserName"].ToString()</span>
            </div>
        </div>
        <div class="portlet-body">
            @if (Model != null)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    S.No
                                </th>
                                <th hidden="hidden">
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Father Name
                                </th>
                                <th>
                                    DOB
                                </th>
                                <th>
                                    Nationality
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Qualification
                                </th>
                                <th>
                                    City
                                </th>

                                <th>
                                    Pin Code
                                </th>
                                <th>
                                    Phone No
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Mobile No
                                </th>

                                <th>
                                    Profession
                                </th>
                                <th>
                                    OtherDetails
                                </th>
                                <th hidden="hidden">
                                    Photo
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int rno = 1;}
                            @foreach (var item in Model)
                            {
                                <tr role="row" class="odd">
                                    <td class="sorting_1">
                                        @rno
                                    </td>
                                    <td hidden="hidden">
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.FatherName
                                    </td>
                                    <td>
                                        @item.DOB
                                    </td>
                                    <td>
                                        @item.Nationality
                                    </td>


                                    <td>
                                        @item.Address
                                    </td>
                                    <td>
                                        @item.Qualification
                                    </td>
                                    <td>
                                        @item.City
                                    </td>
                                    <td>
                                        @item.Pin
                                    </td>

                                    <td>
                                        @item.PhoneNo
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>

                                    <td>
                                        @item.MobileNo
                                    </td>
                                    <td>
                                        @item.Profession
                                    </td>

                                    <td>
                                        @item.OtherDetails
                                    </td>
                                    <td hidden="hidden">
                                        @item.PhotoContent
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditMemberShip", "User", new { ID = @item.Id, Name = "MemberShip" }, new { @class = "btn btn-xs black" })
                                        @Html.ActionLink("Delete", "DeleteMemberShip", "User", new { ID = @item.Id, Name = "MemberShip" }, new { @class = "btn btn-xs red" })
                                    </td>
                                </tr>
                                rno = rno + 1;
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="form-body">
                    <div class="form-group">
                        <div class="fa alert-heading">
                            <h1>No Data Found</h1>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

